/* Робимо темний градієнт для фону меню */
.navbar-dark[b-jdf4eqyjyg] {
    background-image: linear-gradient(180deg, #1a237e 0%, #0d47a1 100%);
}

.nav-item[b-jdf4eqyjyg] {
    padding: 0.5rem 1rem;
}

.nav-item[b-jdf4eqyjyg]  a {
    color: #d1d1d1;
    border-radius: 10px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    transition: all 0.3s;
}

/* Колір при наведенні */
.nav-item[b-jdf4eqyjyg]  a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

/* Колір активної вкладки (де ми зараз знаходимось) */
.nav-item[b-jdf4eqyjyg]  a.active {
    background-color: #ffc107; /* Золотистий колір для акценту */
    color: #000 !important;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.nav-item[b-jdf4eqyjyg]  span {
    display: inline-block;
    width: 2rem;
    margin-right: 0.5rem;
    text-align: center;
}